node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

logs
*.log

pids
*.pid
*.seed
*.pid.lock

logs
*.log

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage/

.nyc_output/

.env
.env.*

.DS_Store

.vscode/

.npm

.eslintcache

coverage/

*.tgz

build/
dist/
